/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */
html {
  font-size: 10px;
}

@media only screen and (max-width:400px) {
  html {
    font-size: 9.411764705882353px;
  }

}

html,
body {
  height: 100%;
}

body {
  background: #151515;
  font-family: "Merriweather", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.941;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
  color: #0467be;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #0467be;
}

a:hover,
a:active {
  outline: 0;
}

/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000000;
  text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 6rem;
  margin-bottom: 1.8rem;
}

@media only screen and (max-width:600px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 5.1rem;
  }
}

h5, .h5, h6, .h6 {
  margin-top: 4.2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width:600px) {
  h5, .h5, h6, .h6 {
    margin-top: 3.6rem;
    margin-bottom: 0.9rem;
  }
}

h1,
.h1 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {
  h1,  .h1 {
    font-size: 3.3rem;
    letter-spacing: -.07rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  line-height: 1.3;
}

h3, .h3 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h4, .h4 {
  font-size: 2.1rem;
  line-height: 1.286;
}

h5, .h5 {
  font-size: 1.8rem;
  line-height: 1.333;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.3125;
  text-transform: uppercase;
  letter-spacing: .16rem;
}

p img {
  margin: 0;
}

p.lead {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.875;
  margin-bottom: 3.6rem;
  color: rgba(0, 0, 0, 0.45);
}

@media only screen and (max-width:1200px) {
  p.lead {
    font-size: 2.2rem;
  }

}

@media only screen and (max-width:1000px) {
  p.lead {
    font-size: 2.1rem;
  }

}

@media only screen and (max-width:800px) {
  p.lead {
    font-size: 2rem;
  }

}

em, i, strong, b {
  font-size: inherit;
  line-height: inherit;
}

em, i {
  font-family: "Merriweather", serif;
  font-style: italic;
}

strong, b {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

small {
  font-size: 1.2rem;
  line-height: inherit;
}

blockquote {
  margin: 3.9rem 0;
  padding-left: 4.5rem;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 10rem;
  line-height: 0px;
  margin: 0;
  color: rgba(0, 0, 0, 0.25);
  font-family: arial, sans-serif;
  position: absolute;
  top: 3.6rem;
  left: 0;
}

blockquote p {
  font-family: "Merriweather", serif;
  padding: 0;
  font-size: 2.1rem;
  line-height: 1.857;
  color: #151515;
}

blockquote cite {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.5;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: rgba(13, 13, 13, 0.65);
  border: none;
}

abbr {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .05rem;
  color: rgba(13, 13, 13, 0.65);
}

var, kbd, samp, code, pre {
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
  padding: 2.4rem 3rem 3rem;
  background: #F1F1F1;
  overflow-x: auto;
}

code {
  font-size: 1.4rem;
  margin: 0 .2rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
}

pre > code {
  display: block;
  white-space: pre;
  line-height: 2;
  padding: 0;
  margin: 0;
}

pre.prettyprint > code {
  border: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background: #ffd900;
  color: #000000;
}

hr {
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}

/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 .8rem;
  position: relative;
}

ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0467be;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #0467be;
}

dd {
  margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * ## responsive video container
 * ------------------------------------------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------------- 
 * ## floated image
 * ------------------------------------------------------------------- */
img.pull-right {
  margin: 1.5rem 0 0 3rem;
}

img.pull-left {
  margin: 1.5rem 3rem 0 0;
}

/* ------------------------------------------------------------------- 
 * ## tables
 * ------------------------------------------------------------------- */
table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Merriweather", serif;
}

th,
td {
  padding: 1.5rem 3rem;
  text-align: left;
  border-bottom: 1px solid #E8E8E8;
}

th {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

td {
  line-height: 1.5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * ## Spacing 
 * ------------------------------------------------------------------- */
button,
.btn {
  margin-bottom: 1.2rem;
}

fieldset {
  margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.cl-custom-select {
  margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * ## pace.js styles - minimal
 * ------------------------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #0467be;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.oldie .pace {
  display: none;
}



/* ===================================================================
 * # preloader 
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  z-index: 800;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#loader > div {
  content: "";
  background: #FFFFFF;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

/* dots jump */
.dots-jump > div {
  -webkit-animation: dots-jump 1.2s infinite ease;
  animation: dots-jump 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-jump > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-jump > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

@keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

/* dots fade */
.dots-fade > div {
  -webkit-animation: dots-fade 1.6s infinite ease;
  animation: dots-fade 1.6s infinite ease;
  animation-delay: 0.4s;
}

.dots-fade > div:nth-of-type(1) {
  animation-delay: 0.8s;
}

.dots-fade > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

@keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

/* dots pulse */
.dots-pulse > div {
  -webkit-animation: dots-pulse 1.2s infinite ease;
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}


/* ===================================================================
 * # forms
 *
 * ------------------------------------------------------------------- */
fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 6rem;
  padding: 1.5rem 2.4rem;
  border: 0;
  outline: none;
  color: #151515;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cl-custom-select {
  position: relative;
  padding: 0;
}

.cl-custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  line-height: 3rem;
  vertical-align: middle;
}

.cl-custom-select select option {
  padding-left: 2rem;
  padding-right: 2rem;
}

.cl-custom-select select::-ms-expand {
  display: none;
}

.cl-custom-select::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  margin-top: -7px;
  pointer-events: none;
  position: absolute;
  right: 2.4rem;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* IE9 and below */
.oldie .cl-custom-select::after {
  display: none;
}

textarea {
  min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000000;
}

label,
legend {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: .9rem;
  line-height: 1.714;
  color: #000000;
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: "Merriweather", serif;
  font-weight: normal;
  line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
  margin: 0;
  position: relative;
  top: .15rem;
}

/* ------------------------------------------------------------------- 
 * ## Style Placeholder Text
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
  color: rgba(13, 13, 13, 0.65);
}

:-moz-placeholder {
  color: rgba(13, 13, 13, 0.65);  /* Firefox 18- */
}

::-moz-placeholder {
  color: rgba(13, 13, 13, 0.65);  /* Firefox 19+ */
}

:-ms-input-placeholder {
  color: rgba(13, 13, 13, 0.65);
}

.placeholder {
  color: rgba(13, 13, 13, 0.65) !important;
}

/* ------------------------------------------------------------------- 
 * ## Change Autocomplete styles in Chrome
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #0467be;
  transition: background-color 5000s ease-in-out 0s;
}



/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c5c5c5;
  border: .2rem solid #c5c5c5;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
  color: #000000;
  outline: 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  background: #0467be;
  border-color: #0467be;
  color: #FFFFFF;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
  background: #0467be;
  border-color: #0467be;
}

/* button modifiers
 * ------------------------------------------------- */
.btn.full-width,
button.full-width {
  width: 100%;
  margin-right: 0;
}

.btn--medium,
button.btn--medium {
  height: 5.7rem !important;
  line-height: 5.3rem !important;
}

.btn--large,
button.btn--large {
  height: 6rem !important;
  line-height: 5.6rem !important;
}

.btn--stroke,
button.btn--stroke {
  background: transparent !important;
  border: 0.2rem solid #000000;
  color: #000000;
}

.btn--stroke:hover,
button.btn--stroke:hover {
  background: #000000 !important;
  border: 0.2rem solid #000000;
  color: #FFFFFF;
}

.btn--pill,
button.btn--pill {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 1000px !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



/* =================================================================== 
 * # additional components
 *
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## alert box
 * ------------------------------------------------------------------- */
.alert-box {
  padding: 2.1rem 4rem 2.1rem 3rem;
  position: relative;
  margin-bottom: 3rem;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6;
}

.alert-box__close {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  cursor: pointer;
}

.alert-box__close.fa {
  font-size: 12px;
}

.alert-box--error {
  background-color: #ffd1d2;
  color: #e65153;
}

.alert-box--success {
  background-color: #c8e675;
  color: #758c36;
}

.alert-box--info {
  background-color: #d7ecfb;
  color: #4a95cc;
}

.alert-box--notice {
  background-color: #fff099;
  color: #bba31b;
}

/* ------------------------------------------------------------------- 
 * ## additional typo styles
 * ------------------------------------------------------------------- */

/* drop cap 
 * ----------------------------------------------- */
.drop-cap:first-letter {
  float: left;
  margin: 0;
  padding: 1.5rem .6rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8.4rem;
  line-height: 6rem;
  text-indent: 0;
  background: transparent;
  color: #000000;
}

/* line definition style 
 * ----------------------------------------------- */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}

.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}

.lining dd + dd:before {
  content: ", ";
}

.lining dd + dd:before {
  content: ", ";
}

.lining dd:before {
  content: ": ";
  margin-left: -0.2em;
}

/* dictionary definition style 
 * ----------------------------------------------- */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}

.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2em;
}

.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}

.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}

/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *    <blockquote>
 *      <p></p>
 *    </blockquote>
 *  </aside>
 *
 * --------------------------------------------------------------------- */
.pull-quote {
  position: relative;
  padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
  height: 1em;
  position: absolute;
  font-size: 10rem;
  font-family: Arial, Sans-Serif;
  color: rgba(0, 0, 0, 0.25);
}

.pull-quote:before {
  content: "\201C";
  top: -3.6rem;
  left: 0;
}

.pull-quote:after {
  content: '\201D';
  bottom: 3.6rem;
  right: 0;
}

.pull-quote blockquote {
  margin: 0;
}

.pull-quote blockquote:before {
  content: none;
}

/** 
 * Stats Tab
 * ---------
 * markup:
 *
 * <ul class="stats-tabs">
 *    <li><a href="#">[value]<em>[name]</em></a></li>
 *  </ul>
 *
 * Extend this object into your markup.
 *
 * --------------------------------------------------------------------- */
.stats-tabs {
  padding: 0;
  margin: 3rem 0;
}

.stats-tabs li {
  display: inline-block;
  margin: 0 1.5rem 3rem 0;
  padding: 0 1.5rem 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.stats-tabs li a {
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  color: #000000;
}

.stats-tabs li a:hover {
  color: #F26522;
}

.stats-tabs li a em {
  display: block;
  margin: .6rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------------------------------- 
 * ## skillbars
 * ------------------------------------------------------------------- */
.skill-bars {
  list-style: none;
  margin: 6rem 0 3rem;
}

.skill-bars li {
  height: .6rem;
  background: #c9c9c9;
  width: 100%;
  margin-bottom: 6.9rem;
  padding: 0;
  position: relative;
}

.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.skill-bars li .progress {
  background: #000000;
  position: relative;
  height: 100%;
}

.skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -3.6rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 1.1rem;
  line-height: 1;
  background: #000000;
  padding: .6rem .6rem;
  border-radius: 3px;
}

.skill-bars li .progress span::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #000000;
  content: "";
}

.skill-bars li .percent5 {
  width: 5%;
}

.skill-bars li .percent10 {
  width: 10%;
}

.skill-bars li .percent15 {
  width: 15%;
}

.skill-bars li .percent20 {
  width: 20%;
}

.skill-bars li .percent25 {
  width: 25%;
}

.skill-bars li .percent30 {
  width: 30%;
}

.skill-bars li .percent35 {
  width: 35%;
}

.skill-bars li .percent40 {
  width: 40%;
}

.skill-bars li .percent45 {
  width: 45%;
}

.skill-bars li .percent50 {
  width: 50%;
}

.skill-bars li .percent55 {
  width: 55%;
}

.skill-bars li .percent60 {
  width: 60%;
}

.skill-bars li .percent65 {
  width: 65%;
}

.skill-bars li .percent70 {
  width: 70%;
}

.skill-bars li .percent75 {
  width: 75%;
}

.skill-bars li .percent80 {
  width: 80%;
}

.skill-bars li .percent85 {
  width: 85%;
}

.skill-bars li .percent90 {
  width: 90%;
}

.skill-bars li .percent95 {
  width: 95%;
}

.skill-bars li .percent100 {
  width: 100%;
}



/* ===================================================================
 * # reusable and common theme styles
 *
 * ------------------------------------------------------------------- */
.wide {
  max-width: 1400px;
}

.narrow {
  max-width: 800px;
}

.light-gray {
  background-color: #f0eeee;
}

/* ------------------------------------------------------------------- 
 * ## display headings
 * ------------------------------------------------------------------- */
.display-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 1.5;
  letter-spacing: -0.03rem;
  margin-top: 0;
  margin-bottom: 4.8rem;
}

.display-1--light {
  color: #FFFFFF;
}

.subhead {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #0467be;
  margin-top: 0;
  margin-bottom: 3.6rem;
  position: relative;
}

.subhead::before {
  content: attr(data-num) ".";
  padding-right: 72px;
  font-weight: 700;
}

.subhead::after {
  content: "";
  display: block;
  background-color: #0467be;
  height: 1px;
  margin-top: -1px;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 4rem;
}

.section-header {
  position: relative;
}

.section-header .display-1,
.section-header p.lead {
  padding-left: 9.6rem;
  padding-right: 2rem;
}

.section-header .lead-light {
  color: rgba(255, 255, 255, 0.3);
}

.btn-animatedbg {
  position: relative;
  background: transparent !important;
  border-color: #0467be !important;
  color: #FFFFFF !important;
  height: 6.6rem;
  line-height: 6.2rem;
  padding: 0 8rem 0 4rem;
  overflow: hidden;
  z-index: 1;
}

.btn-animatedbg::before {
  content: "";
  height: 100%;
  width: 0;
  background-color: #0467be;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn-animatedbg::after {
  display: block;
  content: "";
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/icons/icon-arrow-right.svg);
  background-size: contain;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: -1.1rem;
  position: absolute;
  top: 50%;
  right: 4rem;
}

.btn-animatedbg:hover::before {
  width: 100%;
}

.btn-animatedbg:hover::after {
  right: 3rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * reusable and common theme styles
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1300px) {
  .display-1 {
    font-size: 4.5rem;
  }

  .section-header .display-1,
  .section-header p.lead {
    padding-left: 0;
    padding-right: 3rem;
  }

}

@media only screen and (max-width:1200px) {
  .display-1 {
    font-size: 4.2rem;
  }

}

@media only screen and (max-width:900px) {
  .display-1 {
    font-size: 4rem;
  }

  .subhead {
    font-size: 1.5rem;
  }

  .section-header .display-1,
  .section-header p.lead {
    padding-right: 0;
  }

}

@media only screen and (max-width:800px) {
  .display-1 {
    font-size: 3.8rem;
  }

}

@media only screen and (max-width:700px) {
  .display-1 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }

  .subhead {
    margin-bottom: 2.4rem;
  }

}

@media only screen and (max-width:600px) {
  .display-1 {
    font-size: 3.5rem;
  }

}

@media only screen and (max-width:500px) {
  .display-1 {
    font-size: 3rem;
  }

  .subhead {
    font-size: 1.4rem;
  }

  .subhead::before {
    padding-right: 45px;
  }

  .subhead::after {
    width: 2.5rem;
    left: 3.5rem;
  }

}

@media only screen and (max-width:400px) {
  .display-1 {
    font-size: 2.8rem;
  }

}



/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */
.s-header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  position: absolute;
  top: 4.2rem;
  z-index: 500;
}

.s-header > .row {
  position: relative;
  height: 72px;
  max-width: 1400px;
}

.s-header.offset {
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.s-header.scrolling {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.s-header.sticky {
  position: fixed;
  top: 0;
  background-color: #000000 !important;
  opacity: 0;
  visibility: hidden;
  z-index: 600;
}

.s-header.sticky > .row {
  max-width: 1200px;
}

.s-header.sticky .header-logo {
  padding-left: 20px;
}

.s-header.sticky .header-nav-wrap {
  top: 0;
  right: 20px;
  left: auto;
}

.s-header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

/* -------------------------------------------------------------------
 * ## header logo 
 * ------------------------------------------------------------------- */
.header-logo {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 501;
}

.header-logo a {
  display: block;
  margin: 3px 0 0 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: x-large;
}

.header-logo img {
  width: 130px;
  height: 37px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle 
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  display: none;
  position: absolute;
  right: 29px;
  top: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-menu-toggle::before {
  display: inline-block;
  content: "Menu";
  height: 42px;
  left: auto;
  text-align: right;
  padding-left: 15px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 100%;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: #FFFFFF;
}

.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 9px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
  top: -9px;
}

.header-menu-toggle span::after {
  bottom: -9px;
}

.s-header.sticky .header-menu-toggle {
  top: 12px;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* ------------------------------------------------------------------- 
 * ## navigation 
 * ------------------------------------------------------------------- */
.header-nav-wrap {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: absolute;
  top: 0;
  left: 200px;
}

.header-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 72px;
}

.header-nav li {
  display: inline-block;
  padding-left: 0;
  margin-right: 2rem;
}

.header-nav li a {
  display: block;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.5);
}

.header-nav li.current a,
.header-nav li a:hover {
  color: #FFFFFF;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media only screen and (max-width:800px) {
  .s-header {
    top: 0;
  }

  .s-header > .row {
    max-width: none;
    width: auto;
  }

  .header-logo {
    left: 40px;
    top: 3rem;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .header-logo img {
    width: 120px;
    height: 34px;
  }

  .s-header.sticky .header-logo {
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .header-menu-toggle {
    top: 3rem;
    right: 40px;
  }

  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    right: auto;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 120px 40px 21px;
  }

  .header-nav-wrap .header-nav {
    display: block;
    height: auto;
    margin: 0 0 4.2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
  }

  .header-nav-wrap .header-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.07);
  }

  .header-nav-wrap .header-nav li a {
    padding: 18px 0;
    line-height: 18px;
  }

  .s-header.sticky .header-nav-wrap {
    right: 0;
  }

  .header-menu-toggle {
    display: block;
  }

}

@media only screen and (max-width:400px) {
  .header-logo {
    left: 30px;
  }

  .s-header.sticky .header-logo {
    left: 10px;
  }

  .header-menu-toggle {
    right: 30px;
  }

  .header-menu-toggle::before {
    display: none;
  }

}

/* -------------------------------------------------------------------
 * make sure the menu is visible on larger screens
 * ------------------------------------------------------------------- */
@media only screen and (min-width:801px) {
  .header-nav-wrap {
    display: block !important;
  }

}



/* ===================================================================
 * # home
 *
 * ------------------------------------------------------------------- */
.s-home {
  width: 100%;
  height: 100vh;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
}

.s-home::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #000000;
}

.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.no-js .s-home {
  background: #000000;
}

/* ------------------------------------------------------------------- 
 * ## home content
 * ------------------------------------------------------------------- */
.home-content {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
  padding-bottom: 15.6rem;
  overflow: hidden;
  position: relative;
}

.home-content h1 {
  font-size: 6.6rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0;
  color: #FFFFFF;
}

.home-content__main {
  padding-right: 28rem;
  position: relative;
  max-width: 1400px;
}

.home-content__button {
  margin-top: 6rem;
}

.home-content__button .btn {
  margin-right: 0;
}

/* ------------------------------------------------------------------- 
 * ## home video link
 * ------------------------------------------------------------------- */
.home-content__video {
  position: absolute;
  top: 7.2rem;
  right: 12rem;
}

.home-content__video .video-link {
  display: block;
  text-align: center;
  width: 13rem;
  outline: none;
  position: relative;
}

.home-content__video .video-icon {
  display: inline-block;
  height: 8.4rem;
  width: 8.4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/icons/icon-play.svg);
  background-repeat: no-repeat;
  background-position: 55% center;
  background-size: 24px 27px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.home-content__video .video-text {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: .4rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.home-content__video .video-link:hover .video-text {
  color: white;
}

.home-content__video .video-link:hover .video-icon {
  background-color: #0467be;
}

/* ------------------------------------------------------------------- 
 * ## home scroll
 * ------------------------------------------------------------------- */
.home-content__scroll {
  position: absolute;
  right: 8rem;
  bottom: 6rem;
  -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -ms-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.home-content__scroll .scroll-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  padding-right: 200px;
}

.home-content__scroll .scroll-link:hover {
  color: #0467be;
}

.home-content__scroll::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 150px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
}

/* ------------------------------------------------------------------- 
 * ## home social
 * ------------------------------------------------------------------- */
.home-social {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: absolute;
  top: 6rem;
  right: 6.2rem;
  z-index: 500;
}

.home-social a {
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social li {
  position: relative;
  padding: .6rem 0;
}

.home-social li a {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.home-social i,
.home-social span {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social i {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  right: 0;
}

.home-social span {
  background-color: #151515;
  font-size: 1.2rem;
  line-height: 30px;
  color: #0467be;
  right: 50px;
  padding: 0 15px;
  margin: 3px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.home-social span::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #151515;
  position: absolute;
  top: 50%;
  right: -6px;
  margin-top: -6px;
}

.home-social li:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* animate .home-content__main
 * ------------------------------------------------------------------- */
html.cl-preload .home-content__main {
  opacity: 0;
}

html.cl-loaded .home-content__main {
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
  opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations
 * ------------------------------------------------------------------- */

/* fade in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* fade out */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

}

/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1600px) {
  .home-content h1 {
    font-size: 6.4rem;
  }

  .home-content__video {
    right: 13rem;
  }

}

@media only screen and (max-width:1400px) {
  .home-content h1 {
    font-size: 6rem;
  }

}

@media only screen and (max-width:1200px) {
  .home-content h1 {
    font-size: 5.6rem;
  }

  .home-content__main {
    padding-right: 6rem;
  }

  .home-content__button,
  .home-content__video {
    display: inline-block;
    vertical-align: top;
  }

  .home-content__video {
    position: static;
    margin-top: 6rem;
    margin-left: 6rem;
    height: 6.6rem;
    line-height: 6.6rem;
  }

  .home-content__video .video-link {
    padding-left: 9rem;
    width: auto;
  }

  .home-content__video .video-icon {
    height: 6.6rem;
    width: 6.6rem;
    background-size: 12px 13px;
    position: absolute;
    top: 0;
    left: 0;
  }

}

@media only screen and (max-width:1000px) {
  .home-content h1 {
    font-size: 5.4rem;
  }

  .home-social i {
    font-size: 1.8rem;
  }

}

@media only screen and (max-width:900px) {
  .home-social {
    display: none;
  }

}

@media only screen and (max-width:800px) {
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content__main {
    max-width: 600px;
  }

  .home-content__main h1 br {
    display: none;
  }

  .home-content__video {
    margin-left: 4rem;
  }

  .home-content__video .video-text {
    display: none;
  }

  .home-content__scroll {
    right: 6rem;
    bottom: 4.2rem;
  }

  .home-content__scroll .scroll-link {
    padding-right: 80px;
  }

  .home-content__scroll::after {
    width: 50px;
  }

}

@media only screen and (max-width:700px) {
  .home-content h1 {
    font-size: 4.8rem;
  }

  .home-content__main {
    max-width: 490px;
  }

}

@media only screen and (max-width:600px) {
  .home-content {
    vertical-align: middle;
    padding-top: 19.8rem;
    padding-bottom: 12rem;
  }

  .home-content h1 {
    font-size: 4.2rem;
  }

  .home-content__main {
    text-align: center;
    padding: 0 40px;
  }

  .home-content__button {
    margin-top: 3rem;
  }

  .home-content__video {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .home-content__video .video-text {
    display: inline-block;
    font-size: 11px;
  }

  .home-content__scroll .scroll-link {
    font-size: 11px;
  }

  .home-content__scroll::after {
    display: none;
  }

}

@media only screen and (max-width:500px) {
  .s-home {
    min-height: 654px;
  }

  .home-content h1 {
    font-size: 3.8rem;
  }

}

@media only screen and (max-width:400px) {
  .home-content__main {
    padding: 0 25px;
  }

  .home-content {
    padding-top: 15rem;
  }

  .home-content h1 {
    font-size: 3.5rem;
  }

  .home-content__scroll {
    right: 5rem;
  }

}

@media only screen and (max-width:350px) {
  .home-content h1 {
    font-size: 3.2rem;
  }

  .home-content__button .btn {
    padding: 0 7rem 0 4rem;
  }

}



/* ===================================================================
 * # about
 *
 * ------------------------------------------------------------------- */
.s-about {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #FFFFFF;
  position: relative;
}

.about-process {
  margin-top: 8.4rem;
}

.about-process h3 {
  margin-top: 0;
  margin-left: 7.5rem;
}

.about-process .col-block {
  margin-bottom: 1.8rem;
}

.about-process .col-block:nth-child(2n+1) > * {
  margin-right: 25px;
}

.about-process .col-block:nth-child(2n+2) > * {
  margin-left: 25px;
}

.about-process .item-process__header {
  position: relative;
  margin-bottom: 3rem;
}

.about-process .item-process__header::before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate3d(0, -30%, 0);
  -ms-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  position: absolute;
  top: 0;
  left: 0;
}

.about-process .item-process__header--planning::before {
  background-image: url(../images/icons/icon-planning.svg);
}

.about-process .item-process__header--branding::before {
  background-image: url(../images/icons/icon-branding.svg);
}

.about-process .item-process__header--implementation::before {
  background-image: url(../images/icons/icon-implementation.svg);
}

.about-process .item-process__header--documentation::before {
  background-image: url(../images/icons/icon-documentation.svg);
}


/* ------------------------------------------------------------------- 
 * responsive:
 * about
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .s-about {
    padding-top: 16.2rem;
    padding-bottom: 16.2rem;
  }

}

@media only screen and (max-width:1100px) {
  .about-process .col-block:nth-child(2n+1) > * {
    margin-right: 15px;
  }

  .about-process .col-block:nth-child(2n+2) > * {
    margin-left: 15px;
  }

}

@media only screen and (max-width:900px) {
  .about-process .col-block:nth-child(2n+1) > * {
    margin-right: 5px;
  }

  .about-process .col-block:nth-child(2n+2) > * {
    margin-left: 5px;
  }

}

@media only screen and (max-width:800px) {
  .about-process {
    margin-top: 6rem;
  }

  .about-process .col-block:after {
    content: "";
    display: table;
    clear: both;
  }

  .about-process .col-block:nth-child(2n+1) > * {
    margin-right: 0;
  }

  .about-process .col-block:nth-child(2n+2) > * {
    margin-left: 0;
  }

}

@media only screen and (max-width:500px) {
  .about-process h3 {
    font-size: 2.1rem;
    margin-left: 6.5rem;
  }

  .about-process .item-process__header::before {
    width: 5.5rem;
    height: 5.5rem;
    top: 0;
    left: 0;
  }

}



/* ===================================================================
 * # services
 *
 * ------------------------------------------------------------------- */
.s-services {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #151515;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/services-bg.jpg);
  background-size: cover;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.s-services::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: .65;
}

.s-services h4 {
  margin-top: 0;
  color: #FFFFFF;
}

.s-services a {
  color: #0467be;
}

.s-services a:hover,
.s-services a:focus,
.s-services a:active {
  color: #FFFFFF;
}

.services-list {
  margin-top: 7.8rem;
  counter-reset: ctr;
  position: relative;
}

.services-list .item-service {
  margin-bottom: 1.5rem;
}

.services-list .item-service::before {
  display: block;
  content: counter(ctr, decimal-leading-zero) ".";
  counter-increment: ctr;
  margin-bottom: 4.8rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1;
  color: #0467be;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * services
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .s-services {
    padding-top: 16.2rem;
    padding-bottom: 16.2rem;
  }

}

@media only screen and (max-width:800px) {
  .services-list {
    margin-top: 6rem;
  }

}

@media only screen and (max-width:500px) {
  .services-list .item-service::before {
    font-size: 3.3rem;
  }

}



/* ===================================================================
 * # works
 *
 * ------------------------------------------------------------------- */
.s-works {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #FFFFFF;
  position: relative;
}

.portfolio {
  margin-top: 9rem;
}

.item-folio {
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.item-folio__thumb a {
  display: block;
}

.item-folio__thumb a::before {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.item-folio__thumb a::after {
  z-index: 1;
  content: "";
  font-family: sans-serif;
  font-size: 2.4rem;
  color: #FFFFFF;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.item-folio__thumb img {
  vertical-align: bottom;
}

.item-folio__text {
  padding: 0 3rem;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 3.6rem;
  z-index: 2;
}

.item-folio__title {
  color: #FFFFFF;
  font-size: 1.8rem;
  margin: 0;
}

.item-folio__cat {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  margin-bottom: 0;
}

.item-folio__project-link {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  background-color: #FFFFFF;
  padding: .6rem 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  position: absolute;
  bottom: 3.9rem;
  left: 3rem;
  z-index: 500;
}

.item-folio__project-link::before {
  display: block;
  content: "";
  height: 1px;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: -3rem;
}

.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
  background-color: #0467be;
  color: #FFFFFF;
}

.item-folio__caption {
  display: none;
}

/* on hover */
.item-folio:hover .item-folio__thumb a::before {
  opacity: 1;
  visibility: visible;
}

.item-folio:hover .item-folio__thumb a::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.item-folio:hover .item-folio__project-link {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.item-folio:hover .item-folio__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1400px) {
  .item-folio__title {
    font-size: 1.7rem;
  }

  .item-folio__cat {
    font-size: 1.3rem;
  }

}

@media only screen and (max-width:1200px) {
  .s-works {
    padding-top: 16.2rem;
  }

  .item-folio__title {
    font-size: 1.8rem;
  }

  .item-folio__cat {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width:1000px) {
  .item-folio__title {
    font-size: 1.7rem;
  }

  .item-folio__cat {
    font-size: 1.3rem;
  }

}

@media only screen and (max-width:450px) {
  .item-folio {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
  }

}


/* ===================================================================
 * # testimonials
 *
 * ------------------------------------------------------------------- */
.testimonials-wrap {
  margin-top: 7.8rem;
}

.testimonials-header {
  text-align: center;
}

.testimonials {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2;
  margin-top: 4.5rem;
  padding-bottom: 7.2rem;
  position: relative;
}

.testimonials__slider {
  position: relative;
}

.testimonials__slider .slick-slide {
  outline: none;
}

.testimonials__slider .slick-dots {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 4.5rem 0 0 0;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
}

.testimonials__slider .slick-dots li {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 9px;
  cursor: pointer;
}

.testimonials__slider .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.testimonials__slider .slick-dots li button:hover,
.testimonials__slider .slick-dots li button:focus {
  outline: none;
}

.testimonials__slider .slick-dots li.slick-active button,
.testimonials__slider .slick-dots li:hover button {
  background: #000000;
}

.testimonials__slide {
  position: relative;
  padding-left: 12rem;
  padding-right: 3rem;
}

.testimonials__icon {
  display: block;
  height: 3.3rem;
  width: 3.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icons/icon-quote.svg);
  position: absolute;
  top: 0;
  left: 5.5rem;
}

.testimonials__author {
  display: inline-block;
  position: relative;
  padding-top: 1.5rem;
  padding-left: 9rem;
  min-height: 7.2rem;
}

.testimonials__author span {
  display: block;
}

.testimonials__avatar {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 100%;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials__name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #000000;
}

.testimonials__position {
  font-size: 1.4rem;
  line-height: 2.7rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * testimonials
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1000px) {
  .testimonials__slide {
    text-align: center;
    padding: 0 6rem;
  }

  .testimonials__icon {
    display: none;
  }

  .testimonials__author {
    text-align: left;
  }

}

@media only screen and (max-width:800px) {
  .testimonials-wrap {
    margin-top: 6rem;
  }

  .testimonials {
    margin-top: 1.5rem;
  }

  .testimonials__slide {
    padding: 0 3rem;
  }

}

@media only screen and (max-width:600px) {
  .testimonials-header h2 {
    font-size: 3rem;
  }

  .testimonials__slide {
    padding: 0 1.5rem;
  }

}

@media only screen and (max-width:500px) {
  .testimonials {
    font-size: 1.6rem;
  }

  .testimonials-header {
    padding: 0 10px;
  }

  .testimonials-header h2 {
    font-size: 2.6rem;
  }

  .testimonials__slide {
    padding: 0;
  }

  .testimonials__author {
    padding-left: 8rem;
  }

  .testimonials__avatar {
    width: 6rem;
    height: 6rem;
    top: .5rem;
  }

}



/* ===================================================================
 * # clients
 *
 * ------------------------------------------------------------------- */
.s-clients {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #2a2a2a;
  position: relative;
}

.s-clients a {
  color: #0467be;
}

.s-clients a:hover,
.s-clients a:focus,
.s-clients a:active {
  color: #FFFFFF;
}

.clients-list {
  margin-top: 7.2rem;
}

.item-client {
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 1px;
  border-style: none solid solid none;
  text-align: center;
  padding: 2.4rem 0;
}

.item-client a {
  display: block;
}

.item-client img {
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-client:nth-child(4n) {
  border-style: none none solid none;
}

.item-client:nth-last-child(-n+4) {
  border-bottom-style: none;
}

.item-client a:hover img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * clients
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  padding-top: 16.2rem;
  padding-bottom: 16.2rem;
}

@media only screen and (max-width:1000px) {
  .item-client {
    padding: 1.5rem 0;
  }

  .item-client img {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

}

@media only screen and (max-width:800px) {
  .item-client:nth-child(n) {
    border-style: none solid solid none;
  }

  .item-client:nth-child(3n) {
    border-style: none none solid none;
  }

  .item-client:nth-last-child(-n+2) {
    border-bottom-style: none;
  }

}

@media only screen and (max-width:600px) {
  .clients-list {
    margin-top: 6rem;
  }

  .item-client:nth-child(n) {
    border-style: none solid solid none;
  }

  .item-client:nth-child(2n) {
    border-style: none none solid none;
  }

  .item-client:nth-last-child(-n+2) {
    border-bottom-style: none;
  }

}

@media only screen and (max-width:400px) {
  .clients-list {
    margin-top: 3rem;
  }

}
  


/* ===================================================================
 * # stats
 *
 * ------------------------------------------------------------------- */
.s-stats {
  padding-top: 6.6rem;
  padding-bottom: 5.4rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #000000;
  background-image: url(../images/hero-bg4.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.s-stats::before {
  content: "";
  display: block;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
}

.stats-block {
  text-align: center;
}

.item-stats {
  margin: 5.4rem 0;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.item-stats__count {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 9rem;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.item-stats h5 {
  font-size: 1.4rem;
  line-height: 1.714;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * stats
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .stats-block {
    max-width: 900px;
  }

  .item-stats {
    margin: 3rem 0;
  }

  .item-stats__count {
    font-size: 8.8rem;
  }

}

@media only screen and (max-width:600px) {
  .item-stats__count {
    font-size: 8.2rem;
  }

}

@media only screen and (max-width:400px) {
  .s-stats {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .item-stats__count {
    font-size: 8rem;
  }

}



/* ===================================================================
 * # contact
 *
 * ------------------------------------------------------------------- */
.s-contact {
  padding-top: 18rem;
  padding-bottom: 12rem;
  background-color: #151515;
  position: relative;
}

.s-contact .display-1 a {
  color: #035D5C;
}

.s-contact .display-1 a:hover,
.s-contact .display-1 a:focus,
.s-contact .display-1 a:active {
  color: #0467be;
}

.s-contact h4 {
  margin-top: 0;
  margin-bottom: 4.5rem;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.6rem;
  line-height: 1.3125;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.s-contact a {
  color: #0467be;
}

.s-contact a:hover,
.s-contact a:focus,
.s-contact a:active {
  color: #FFFFFF;
}

.contact-infos {
  margin-top: 12rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 1.714;
  color: white;
}

.contact-infos [class*="contact-"] {
  padding-bottom: 3rem;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.contact-list a {
  color: #FFFFFF;
}

.contact-list li {
  padding-left: 0;
}

/* ------------------------------------------------------------------- 
 * ## contact button
 * ------------------------------------------------------------------- */
.contact-button {
  position: relative;
  padding-top: 6.6rem;
}

.contact-button::before {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: .6rem;
  left: 20px;
}

/* ------------------------------------------------------------------- 
 * ## subscribe
 * ------------------------------------------------------------------- */
.mc-form {
  margin-top: 2.1rem;
  width: 100%;
  position: relative;
}

.mc-form input[type="email"] {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 6.6rem;
  padding: 1.8rem 160px 1.8rem 30px;
  margin-bottom: 1.8rem;
  border: none;
}

.mc-form input[type="email"]:focus {
  color: #FFFFFF;
}

.mc-form input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.mc-form input[type="email"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);      /* Firefox 18- */
}

.mc-form input[type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);      /* Firefox 19+ */
}

.mc-form input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.mc-form input[type="email"].placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}

.mc-form input[type=submit] {
  height: 6.6rem;
  line-height: 6.2rem;
  margin: 0;
  color: #FFFFFF;
  background: #0467be;
  border-color: #0467be;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.mc-form label {
  color: #FFFFFF;
  font-size: 1.3rem;
  padding: 0 2rem;
}

.mc-form label i {
  padding-right: 6px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * contact
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .s-contact {
    padding-top: 16.2rem;
  }

  .contact-infos {
    font-size: 2.6rem;
  }

  .contact-number {
    clear: both;
  }

}

@media only screen and (max-width:900px) {
  .s-contact h4 {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width:800px) {
  .contact-infos {
    margin-top: 7.2rem;
    font-size: 2.8rem;
  }

  .contact-bottom {
    padding-top: 6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .contact-button {
    padding-top: 0;
  }

  .contact-button::before {
    display: none;
  }

  .contact-subscribe {
    margin-top: 6rem;
  }

}

@media only screen and (max-width:600px) {
  .s-contact {
    padding-bottom: 4.2rem;
  }

  .s-contact h4 {
    margin-bottom: 2.4rem;
  }

  .contact-bottom {
    text-align: center;
  }

  .mc-form input[type="email"] {
    padding: 1.8rem 30px 1.8rem 30px;
    text-align: center;
  }

  .mc-form input[type=submit] {
    position: static;
    width: 100%;
    margin-bottom: 1.8rem;
  }

}

@media only screen and (max-width:500px) {
  .contact-infos {
    font-size: 2.2rem;
  }

  .contact-infos [class*="contact-"] {
    padding-bottom: 1.5rem;
  }

}

@media only screen and (max-width:400px) {
  .contact-infos {
    font-size: 1.8rem;
  }

}



/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
footer {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}

footer a,
footer a:visited {
  color: #FFFFFF;
}

/* ------------------------------------------------------------------- 
 * ## copyright
 * ------------------------------------------------------------------- */
.cl-copyright {
  margin-top: 2.1rem;
  padding-right: 80px;
}

.cl-copyright span {
  font-size: 14px;
  display: inline-block;
}

.cl-copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.cl-copyright span:last-child::after {
  display: none;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
.cl-go-top {
  position: absolute;
  top: -1px;
  right: 6rem;
  z-index: 600;
}

.cl-go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/icons/icon-arrow-up.svg);
  background-size: 10px 16px;
}

.cl-go-top a:hover,
.cl-go-top a:focus {
  background-color: #0467be;
  color: #FFFFFF;
}

.cl-go-top::before {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: -115px;
  left: 50%;
}

.cl-go-top::after {
  content: "back to top";
  display: inline-block;
  width: 120px;
  font-size: 1.2rem;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  position: absolute;
  left: calc(30px + 15px);
  top: -165px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .cl-go-top {
    right: 3rem;
  }

}

@media only screen and (max-width:900px) {
  .cl-go-top {
    right: 0;
  }

  .cl-go-top::before,
  .cl-go-top::after {
    display: none;
  }

}

@media only screen and (max-width:600px) {
  .cl-copyright {
    margin-top: 9rem;
    padding: 0;
    text-align: center;
  }

  .cl-copyright span {
    display: block;
  }

  .cl-copyright span::after {
    display: none;
  }

  .cl-go-top {
    right: 50%;
    margin-right: -30px;
  }

}

@media only screen and (max-width:400px) {
  .cl-copyright span {
    font-size: 13px;
  }

}

/*# sourceMappingURL=main.css.map */
